* { margin: 0; padding:0; background-color: #FFFFFF; color: #000000; }

/* Embed App font Helvetia Ultra Compressed */
@font-face {
    font-family: 'Helvetica Ultra Compressed';
    src: url('font/helveticaultracompressed-webfont.eot');
    src: url('font/helveticaultracompressed-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/helveticaultracompressed-webfont.woff') format('woff'),
         url('font/helveticaultracompressed-webfont.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}

p {
	margin: 6px auto;
}

form {
	display: none;
}

div {
	width: inherit;
	font-family: Helvetica;
	font-size: 14px;
}

/* Paypal logo */
img.paypal {
	height:15px;
	width: 58px; 	
	display: inline;
	vertical-align:middle;
}

/* Client Info */
div.top-info {
	width: 280px;
	max-height: 200px;
	/*
	height: 174px;
	*/
	margin: 10px auto 20px;
}

/* Client Portrait */
.top-info > .portrait{
	width: 115px;
	/*height: 172px;
	border: 1px solid #656565;
	*/
	background:url(<%= imageURL %>) no-repeat center center;
}

/* Client Info Panel */
.top-info > .info-block {
	width: 155px;
	max-height: 200px;
	float: right;
	margin-top: -5px;
}

div.info-block > .nickname {
	font-family: 'Helvetica Ultra Compressed', Arial;
	font-size: 34px;
	<!--[if IE]>
	font-size: 16px;
	<![endif]-->
}

/* Client Sponsor Panel */
div.sponsor-block{
	margin-top: 0px;
}

div.sponsor{
	color: #c6c6c6;
}

/* Client Story */
div.story {
	margin: 10px auto;
	width: 280px;
	text-align: justify;
	text-justify:inter-word;
}

/* Links */

	/* External Links */
	#page-container a.external {
		color: #ff9216;
		background-color: #FFFFFF;
		text-decoration: none;
		padding: 0px;
		margin: 0px;
		border-bottom: 1px solid #ff9216;
		text-justify: center;
	}

	/* Internal links */
	#page-container a.button {
		display: block;
		text-decoration: none;
		height: 38px;
		padding-top: 0px;
		margin-bottom: 5px;
		font-family:'Helvetica Ultra Compressed', Arial;
		font-size: 26pt;

		/* Shadow */
		-webkit-box-shadow: 0px 2px 4px #000000;
		-moz-box-shadow: 0px 2px 4px #000000;
		o-shadow: 0px 2px 6px #000000;
		box-shadow: 0px 2px 6px #000000;
	}

	/* App Navigation Links */
	#page-container a {
		background-color: #1b1a18;
		color: #ff9216; 
		padding-left: 16px;
	}

	/* Donation links */
	#page-container a.give {
		border-left: 6px solid #ff9216;
		color: #6F6F6F;
		background-color:#E1E1E1;
		margin-left: 16px;
		margin-right: 16px;

		/* Shadow */
		-webkit-box-shadow: 0px 2px 4px #E1E1E1;
		-moz-box-shadow: 0px 2px 4px #E1E1E1;
		o-shadow: 0px 2px 6px #E1E1E1
		box-shadow: 0px 2px 6px #E1E1E1
	}

	/* Profile Donation Link */
	#page-container a.help {
		background-color: #ff9216;
		color: white;
		text-align: center;
		padding-left: 0px;
		border: solid #d99938 1px;
		margin-top: 5px;
		margin-right: 5px;
	}

/* Give Block */
div.give-block {
	margin: auto auto 10px auto;
}

/* Mobile site pages */
.page {
	overflow: hidden;
	max-height: 0;
	color: #ff9216;
  	background-color: #ffffff;
  	opacity: 0;
  	-moz-opacity: 0;
  	filter:alpha(opacity=0);

  	/* Transitions */
	-webkit-transition: all .4s ease;
	-moz-transition:    all .4s ease;
	-o-transition:      all .4s ease;
	transition:      	all .4s ease;
}

/* Title Bar */
h1 {
	height: 60px;
	width: 100%;
	background:url(/images/Logo_dark.png) no-repeat center center;
	background-color: #1b1a18;
	margin-right: -10px;
	padding-right: -10px;
	/*
	border-bottom: 1px solid grey;
	*/

	/* Shadow */
	margin-bottom: 5px;
	-webkit-box-shadow: 0px 2px 4px #000000;
	-moz-box-shadow: 0px 2px 4px #000000;
	box-shadow: 0px 2px 6px #000000;
}

/* Title Bar Barcode Image (not in use) */
h1 > div {
	background: url(/images/Barcode.png) right top no-repeat;
	margin-right: 10px;
	padding-right: 10px;
}

/* Text Modifiers */
.bold {
	font-weight: 700;
}

.centered {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 280px;
	text-align: center;
}

/* Application Motto */
p.motto{
	font-size:16px;
	font-weight:bold;
}

iframe {
	width: 100%;
	height: 100%;
}