div.top-info {
  font-family: Helvetica;
  font-size: 12px;
  position: relative;
  background-color: #ccc;
  margin: 0 auto 10px;
  padding: 0;
  width: 280px;
  height: 206px;
}

#page-container a {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin-bottom: 5px;
  background-color: #ff9016;
}

.story {
  font-family: Helvetica;
  font-size: 16px;
  margin: 10px auto;
  width: 90%;

}

.top-info .nickname {
  font-weight: bold;
  font-size: 16px;
}

.top-info .city {
  font-size: 12px;
}

.top-info .portrait {
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 186px;
  width: 110px;
  height: 166px;
  background-color: #888;
}

.top-info .info-block {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 130px;
  height: 166px;
  margin: 0;
  padding: 0;
}

.info-block .bottom-block {
  position: absolute;
  left: 0;
  bottom: 0;
}

div.info-block .nickname { font-size: 16px; font-weigth: bold; }
