<!DOCTYPE html>
<html>
<head>
{% block head %}{% endblock %}
</head>
<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">StreetCodes Administration</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/admin">Home</a></li>
              <li><a href="/admin/forms">Database</a></li>
              <li><a href="/admin/help">Help</a></li>
              <li><a href="/">Main Site</a></li>
            </ul>
            {% if username %}
                <p class="navbar-text pull-right">Welcome, {{ username }}.
                  <a href="{{ sign_out }}">Sign out</a>.
                </p>
            {% else %}
                <p class="navbar-text pull-right"><a href="{{ sign_in }}">Sign in</a>.</p>
            {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">

      {% block body %}
      {% endblock %}

      <hr>

      <footer>
        <p>&copy; The StreetCodes Team |
          Join us on <a href="https://github.com/mckoss/StreetCode/wiki">GitHub</a>. |
          Follow us on Twitter <a href="https://twitter.com/#!/Street_Codes">@Street_Codes</a>
        </p>
      </footer>

    </div><!--/.fluid-container-->

</body>
</html>
