{% extends "base.html" %}
{% block head %}
<meta name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />

<link rel="stylesheet" type="text/css" href="/css/main.css" />

<script type="text/javascript" src="/js/libs/jquery.js"></script>
<script type="text/javascript" src="/js/libs/namespace-plus.js"></script>
<script type="text/javascript" src="/js/libs/underscore.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

{% block head_extra %}{% endblock %}
{% endblock %}
