<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>StreetCode - QR Codes for the Homeless</title>
    <link rel="stylesheet" href="/css//bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/orbit.css">
    <script src="js/libs/jquery-min.js"></script>
    <script src="js/libs/jquery.orbit-1.4.0.js"></script>
    <script>
     $(window).load(function() {
         $('#slidez').orbit({animation: 'horizontal-slide',
                             animationSpeed: 2000});
     });
    </script>
  </head>
  <body>
  <div class="container">
    <div id="shadow" class="row">
      <div class="span16"><img src="images/Head_shadow.png"/></div>
    </div>
    <div id="header" class="row">
      <div class="span6">
    <img id="logo" src="images/StreetCode_logo.png"/>
      </div>
      <!-- Top Menu-->
      <div class="span7">
    <div id="menu">
      <ul>
        <li>Get Involved</li>
        <li>About Us</il>
        <li>Videos + Media</il>
        <li>Contact Us</il>
      </ul>
    </div>
      </div><!-- top menu -->
      <div class="span3">
    <div id="mystreet">My Street Code<img style="float:right" src="images/Sm_Orange_square.png"/></div>
      </div>
    </div><!--header-->

    <!--Slides-->
    <div class="row">
      <div class="span16">
        <div id="slidez">
          <img class="slides" src="images/Slideshow_img1.png"/>
          <img class="slides" src="images/Slideshow_img2.png"/>
        </div>
      </div>
    </div>
    <!--Slides-->


    <div class="row">
      <div class="span6">
    <!-- Buttons -->
    <div id="buttonz">
      <ul>
        <li><img class="buttin" src="images/MakeDonation_btn.png"/></li>
        <li><img class="buttin" src="images/JoingProgram_btn.png"/></li>
        <li><img class="buttin" src="images/ManageMembers_btn.png"/></li>
      <ul>
    </div>
    <!-- Buttons -->
      </div>

      <!-- Description -->
      <div class="span10">
    <div id="description">
      <p id="motto">We believe in using mobile technology to break barriers between each other.<p>
      Most importantly, we're determined to giving a hand when needed.
      Our mission is to make it easier to help homeless individuals.
      We've developed a quick and secure way to  allow people to donate money to homeless individuals by scanning unique QR codes that can be printed on cards and posters.
      Each QR code is linked to a debit account which the individual can use to pay for necessities. Scan. Share. Love. </p>
      <img id="moneytagline" src="images/Money_tagline.png"/>
    </div>
      </div>
      <!-- Description -->
    </div>

    <!--Footer-->
    <div class="row">
      <div id="footer" class="span16">
      <img src="images/Facebook_icon.png"/>
      <img src="images/Twitter_icon.png"/>
      <img id="tagline" src="images/Join_tagline.png"/>
      </div>
    </div>

  </div><!--Container-->
  <div id="copyright">Copyright &#169; 2012 Street Code, as Seattle Startup Weekend Development.</div>


  </body>
</html>
