{% extends "mobile_base.html" %}
{% block head_extra %}
  <title>{{site_name}} - Profile</title>
  <script>
  $(document).ready(function () {
      namespace.streetcode.client.initProfile();
  });
  </script>
{% endblock %}

{% block body %}
  <div id="page-container">
    <div id="loading">Loading...</div>
  </div>
  <script type="text/template" id="client-view-template">
<div>
    <h1><div></div></h1>

    <a href="#home">HOME</a>
    <div class="page" id="home">
      <div class="top-info">
        <img class="portrait" src="<%= imageURL %>"/>
        <div class="info-block">
          <div class="nickname"><%= name %></div>
          <div class="bold">Seattle, WA</div>
          <div class="sponsor-block">
            <div class="sponsor">Sponsor Organization:</div>
            <div class="sponsor"><%= sponsor.name %></div>
            <a class="help" href="#needs">DONATE</a>
          </div>
        </div>
      </div>
      <div class="story"><%= story %></div>
    </div>

    <a href="#needs">DONATE</a>
      <div class="page" id="needs">
        <div class="story bold" style="text-align: center;white-space:nowrap;vertical-align:middle">
         Secure donations through <img class="centered" style="display:inline;vertical-align:middle; height:23px; width: 37px" src="https://www.paypal.com/en_US/i/logo/PayPal_mark_37x23.gif" border="0" alt="PayPal Acceptance Mark">
       </div>
       <div class="give-block">
          <a class="give" href="#give/1">$1</a>
          <a class="give" href="#give/5">$5</a>
          <a class="give" href="#give/10">$10</a>
          <a class="give" href="#give/20">$20</a>
          <a class="give" href="#give/">Other Amount</a>
        </div>
      </div>

    <a href="#about">ABOUT</a>
    <div class="page" id="about">
        <div class="centered">
          <p class="bold">We believe in using mobile technology to break barriers between each other.</p>
    <p>Most importantly, we're determined to giving a hand when needed.
          Our mission is to make it easier to help homeless individuals.
          We've developed a quick and secure way to  allow people to donate money to homeless individuals by scanning unique QR codes that can be printed on cards and posters.
          Each QR code is linked to a debit account which the individual can use to pay for necessities. Scan. Share. Love.</p>
    </div>
    </div>

    <!-- hidden paypal autoreturn page -->
    <div class="page" id="thanks">
        <div class="centered">
      <img style="margin-bottom:30px;" src="images/ThankYou.png">
      <div><img style="vertical-align:middle" src="images/Twitter_icon.png"/><img style="padding-left:15px; vertical-align:middle" src="images/Facebook_icon.png"/><span style="font-size:14pt; color: #E1E1E1; padding:0px 0px 30px 15px;">Join the Movement</span></div>
    </div>
        <a href="#home">HOME</a>
        <a href="#needs">ABOUT</a>
    </div>

<!-- hidden paypal form -->
<form target="_paypalContainer" name="_xclick" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_donations">
  <input type="hidden" name="business" value="7U9B9CQ4PZXQC">
  <input type="hidden" name="item_name" value="Donation for <%= name %> (StreetCodes)">
  <input type="hidden" name="currency_code" value="USD">
  <input type="text" name="amount" id="amount" value="">
  <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHosted">
  <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="  submit" alt="PayPal - The safer, easier way to pay online!">
  <input type="hidden" name="rm" value="2">
  <input type="hidden" NAME="return" value="{{SITE_URL}}/donation/<%= shortCode %>">   
  <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<!-- paypal -->
    <div class="page" id="give">
    <iframe id="paypalContainer" name="paypalContainer"></iframe>
    </div>

</div>
  </script>
{% endblock %}
