{% extends "mobile_base.html" %}
{% block head_extra %}
  <title>{{site_name}} - Donations</title>
  <script>
  $(document).ready( function() {
     namespace.streetcode.client.trackDonations();
  } );

  </script>
{% endblock %}

{% block body %}
<h1><div></div></h1>

  <div id="donationSummary">
    <div id="loading">Loading...</div>
  </div>
  <div class="story" id="listThanks"></div>


  <script type="text/template" id="client-donation-template">
  <div>

    <a href="#donation" class="help">DONATION for <%= name %></a> 
    
    <div class="chart story">
      <div id="bar-label">Total $<%= totalDonation %> out of a goal of $<%= goal %> received</div>
      <div class="bar"></div>
    </div>
 
  </div>
  </script>

   <script type="text/template" id="item-transaction-template">
      <div class="itemThanks">Thank you, <%= donorName %>!  (<%= ago %>)</div>
    </script>
{% endblock %}
