{% extends "mobile_base.html" %}
{% block head_extra %}
  <title>{{SITE_NAME}} - Profile</title>
  <script>
  $(document).ready(function () {
      namespace.streetcode.client.initProfile();
  });
  </script>
{% endblock %}

{% block body %}
  <div id="page-container">
    <div data-role="page" id="loading">Loading...</div>
  </div>

  <script type="text/template" id="client-view-template">

    <div id="scan-landing" data-role="page">
      <div data-theme='d' data-role="header"><h1>STREET<b>CODE</b></h1></div>
      <div data-role="content">
        <div class="top-info">
          <img class="portrait" src="<%= imageURL %>"/>
          <div class="info-block">
            <div class="nickname"><%= name %></div>
            <div class="city">Seattle, WA</div>
            <div class="bottom-block">
              <div class="sponsor">Sponsor Organization:</div>
              <div class="nickname"><%= sponsor.name %></div>
              <a class="help" href="#needs">Give</a>
            </div>
          </div>
        </div>
        <a href="#story">Story</a>
        <a href="#needs">Needs</a>
        <a href="#about">About</a>
      </div>
    </div>

    <div id="story" data-role="page">
      <div data-theme='d' data-role="header"><h1>STREET<b>CODE</b></h1></div>
      <div data-role="content">
        <div class="top-info">
          <img class="portrait" src="<%= imageURL %>"/>
          <div class="info-block">
            <div class="nickname"><%= name %></div>
            <div class="city">Seattle, WA</div>
            <div class="bottom-block">
              <div class="sponsor">Sponsor Organization:</div>
              <div class="nickname"><%= sponsor.name %></div>
              <a class="help" href="#needs">Give</a>
            </div>
          </div>
        </div>
        <div class="story"><%= story %></div>
      </div>
    </div>

    <div id="needs" data-role="page">
      <div data-theme='d' data-role="header"><h1>STREET<b>CODE</b></h1></div>
      <div data-role="content">
        <a href="#story">$1</a>
        <a href="#story">$5</a>
        <a href="#story">$10</a>
        <a href="#story">Bed Tonight</a>
        <a href="#story">Socks</a>
      </div>
    </div>

  </script>
{% endblock %}
