{% extends "mobile_base.html" %}
{% block head_extra %}
  <title>{{SITE_NAME}} - Profile</title>
  <script>
  $(document).ready(function () {
      namespace.streetcode.client.initProfile();
  });
  </script>
{% endblock %}

{% block body %}
  <div id='client-view'></div>
  <script type="text/template" id="client-view-template">
    <p>Nickname: <%= displayName %></p>
    <p>Full Name: <%= fullName %></p>
    <div>Story: <%= story %></div>
    <p>Short Code: <%= shortCode %></p>
    <div>Buttons</div>
  </script>
{% endblock %}
